<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h2>Вход</h2>

<form th:action="@{/req/login}" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username"/> <!-- Обязательно оставить username -->
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>

<!-- Отображение ошибки входа -->
<div th:if="${param.error}">
    <p style="color:red;">Неверный логин или пароль</p>
</div>

<!-- Сообщение об успешном выходе -->
<div th:if="${param.logout}">
    <p style="color:green;">Вы вышли из системы</p>
</div>

</body>
</html>
